body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  #search-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* space between form elements */
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    height: 150px;
    overflow-y: auto;
    -webkit-appearance: none;  /* Removes default dropdown arrow on Webkit browsers */
    appearance: none;
  }
  
  input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* centers the button horizontally */
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  
  #server-response {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
